*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background:rgb(34, 4, 141);
}

header h1{

    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 30px 30px rgb(163, 119, 6);
}
h1 img{
    margin:20px;
}


li{
    color:  white;
    text-align: center;
    background-color: rebeccapurple;
    border: 1px;
    padding: 2rem;
    margin: 10rem;
    box-shadow: 0px 0px 50px 50px rgb(127, 94, 247);
    border-radius: 10px;
    justify-items: center;
    list-style:inside decimal;

}

li h1{
    margin-bottom: 1rem;
}

li img{
    margin-right: 15rem;
}

li:nth-child(8) img{
    max-height: 20rem;
}

li:nth-child(9) img {
    max-width: 22rem;
    max-height: 100rem;
}

li h3{
    margin-bottom: 30px;
}
